.container {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .heading {
    font-size: 2rem;
  }
  
  .paragraph {
    font-size: 1.2rem;
  }
  